# Biến môi trường (Chứa mật khẩu DB, Secret Key...)
.env

# Dữ liệu thực tế của Database và Storage (Rất nặng và bảo mật)
c3-db/data/
c5-storage/data/

# Python (Dành cho c2-app)
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Logs của hệ thống
*.log

# File tạm của hệ điều hành
.DS_Store
Thumbs.db
clean.bat

# Dữ liệu Docker Container (Tránh đẩy lên Git các file DB/Logs nội bộ rất nặng)
c3-dbview/data/
c4-auth/data/
c7-monitor/data/
c8-logging/data/

# Build & Dependencies của Node.js / NestJS / React (Cho c1 và c2)
node_modules/
dist/
build/
.pnpm-store/
# File Executable
*.exe

# Docker Compose Override (Moi server co cau hinh rieng, khong day len Git)
docker-compose.override.yml

# --- c1-practice ---
c1-practice/node_modules/
c1-practice/dist/
c1-practice/build/
c1-practice/.env
